<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>View Ratings</title>
</head>
<body>
	<h2>View Ratings</h2>
	<a href="/movies/new">Add a Movie Rating</a>
	<br/>
	<table>
		<tr>
			<th>Title</th>
			<th>Rating</th>
			<th>User</th>
			<th>Date</th>
		</tr>
		<tr th:each="movieRating: ${ratings}">
			<td th:text="${movieRating.title}"></td>
			<td th:text="${movieRating.rating}"></td>
			<td th:text="${movieRating.user}"></td>
			<td th:text="${movieRating.date}"></td>
		</tr>
	</table>
</body>
</html>